---
import License from "./_jaf-oss.md";
import Layout from "$/layouts/root.astro";
import Wiggle from "$/components/wiggle.astro";
---

<Layout>
	<article>
		<header class="">
			<h1>Jafu Open Source Software License</h1>
			<h2>TL;DR</h2>
			<ul class="">
				<li>Use for personal, educational or commercial purposes.</li>
				<li>Give credit</li>
				<li>No reselling as service</li>
				<li>Derivatives must be published under an OSI approved FOSS license</li>
				<li>No redistribution</li>
				<li>No LLM training</li>
			</ul>
		</header>
		<Wiggle />
	</article>
	<main class="mt-0 max-w-ch-md">
		<License />
	</main>
</Layout>
