---
export const prerender = false;

import Layout from "$/layouts/md.astro";
import { ChevronLeft } from "lucide-astro";

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import imageUrlBuilder from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";
import { PortableText } from "astro-portabletext";

const POST_QUERY = `*[_type == "projects" && slug.current == $slug][0]`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
	const SLUGS_QUERY = `*[_type == "projects" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
	return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
	projectId && dataset ? imageUrlBuilder({ projectId, dataset }).image(source) : null;
const postImageUrl = post.image ? urlFor(post.image)?.width(550).height(310).url() : null;
---

<Layout>
	<a
		class="fixed left-12 top-20 pr-4 pl-2 py-1 border border-grey-100/10 bg-grey-950/20 rounded-lg not-prose flex justify-center items-center w-fit gap-2 backdrop-blur-md hover:border-grey-100/20"
		href="/projects"><ChevronLeft class="w-4 h-4 inline" />Go back</a
	>
	{
		postImageUrl && (
			<img src={postImageUrl} alt={post.title} class="aspect-video rounded-xl w-full" />
		)
	}
	<hgroup>
		<h1 class="font-mono font-normal mb-0">{post.title}</h1>
		<p class="mt-2 font-mono">{new Date(post.publishedAt).toLocaleDateString()}</p>
	</hgroup>
	{Array.isArray(post.body) && <PortableText value={post.body} />}
</Layout>
