---
import Layout from "$/layouts/barebones.astro";
---

<Layout>
	<h1
		class="text-[min(40vw,80vh)] leading-none font-bold font-serif flex gap-0 mb-0 glitch">
		<span aria-hidden="true">404</span>
		404
		<span aria-hidden="true">404</span>
	</h1>

	<p
		class="fixed bottom-1/7 left-1/2 -translate-x-1/2 translate-y-1/2 border-grey-100/10 backdrop-blur-md hover:border-grey-100/20 border bg-black/20 p-4 block rounded-xl font-sans">
		Where are we? I don't recognise this URL. Should we try <a href="/"
			>going home</a
		>?
	</p>
</Layout>

<style>
	.glitch {
		--speed: 1;

		position: relative;

		text-shadow:
			0.05em 0 0 var(--color-red-500),
			-0.025em -0.05em 0 var(--color-green-500),
			0.025em 0.05em 0 var(--color-blue-500);

		animation: glitch calc(var(--speed) * 500ms) infinite;
	}

	.glitch span {
		position: absolute;
		top: 0;
		left: 0;
	}

	.glitch span:first-child {
		animation: glitch calc(var(--speed) * 650ms) infinite;
		clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
		transform: translate(-0.025em, -0.0125em);
		/* color: green; */
		opacity: 0.8;
	}

	.glitch span:last-child {
		animation: glitch calc(var(--speed) * 375ms) infinite;
		clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
		transform: translate(0.0125em, 0.025em);
		/* color: red; */
		opacity: 0.8;
	}

	/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

	@keyframes glitch {
		0% {
			text-shadow:
				0.05em 0 0 var(--color-red-500),
				-0.05em -0.025em 0 var(--color-green-500),
				-0.025em 0.05em 0 var(--color-blue-500);
		}
		14% {
			text-shadow:
				0.05em 0 0 var(--color-red-500),
				-0.05em -0.025em 0 var(--color-green-500),
				-0.025em 0.05em 0 var(--color-blue-500);
		}
		15% {
			text-shadow:
				-0.05em -0.025em 0 var(--color-red-500),
				0.025em 0.025em 0 var(--color-green-500),
				-0.05em -0.05em 0 var(--color-blue-500);
		}
		49% {
			text-shadow:
				-0.05em -0.025em 0 var(--color-red-500),
				0.025em 0.025em 0 var(--color-green-500),
				-0.05em -0.05em 0 var(--color-blue-500);
		}
		50% {
			text-shadow:
				0.025em 0.05em 0 var(--color-red-500),
				0.05em 0 0 var(--color-green-500),
				0 -0.05em 0 var(--color-blue-500);
		}
		99% {
			text-shadow:
				0.025em 0.05em 0 var(--color-red-500),
				0.05em 0 0 var(--color-green-500),
				0 -0.05em 0 var(--color-blue-500);
		}
		100% {
			text-shadow:
				-0.025em 0 0 var(--color-red-500),
				-0.025em -0.025em 0 var(--color-green-500),
				-0.025em -0.05em 0 var(--color-blue-500);
		}
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		::before,
		::after {
			animation-delay: -1ms !important;
			animation-duration: 1ms !important;
			animation-iteration-count: 1 !important;
			background-attachment: initial !important;
			scroll-behavior: auto !important;
			transition-duration: 0s !important;
			transition-delay: 0s !important;
		}
	}
</style>
