---
import Layout from "$/layouts/root.astro";
---

<Layout>
	<pre><code class="text-3xl">¯\(ツ)/¯</code></pre>
	<h1 class="font-normal">404</h1>
	<p>
		Where are we? I don't recognise this URL. Should we try <a href="/">going home</a>?
	</p>
</Layout>
