---
import Root from "$/layouts/root.astro";
import { BadgeCheck } from "lucide-astro";
---

<Root title="Home" path="/">
	<section
		class="not-prose mx-auto flex min-h-[calc(85vh-5ch)] flex-col items-center justify-center">
		<span
			class="flex justify-center items-center list-none gap-4 rounded-full border border-old-rose/50 px-4 py-1 text-sm transition-all hover:border-old-rose">
			<BadgeCheck class="h-4 w-4 text-old-rose" />
			Certified Nerd
		</span>
		<h1 class="mt-4 text-7xl">I'm Jacob</h1>
		<p>Also known as Jafu.py</p>

		<div
			aria-hidden="true"
			class="absolute -bottom-32 right-96 -z-20 h-52 w-52 translate-x-56 scale-150 rounded-full bg-prussian-blue-700 blur-3xl">
		</div>
	</section>
	<section id="bio">
		<p class="max-w-ch-sm">
			Hey, I'm Jacob, more commonly known online as jafu.py. I'm a {
				new Date().getFullYear() - 2010
			}
			year old Pole raised in England. I write code, play classical/fingerstyle guitar. I taught
			myself python at 10, moving on to web dev. I use React and Svelte. Other than that, I
			play minecraft, on Stam's (<a
				class="underline-offset-2"
				href="https://www.youtube.com/@Stam1o">Stam1o</a
			>) supporter server.
		</p>
	</section>
</Root>
