@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@import "./tw.css";

section {
	margin-left: auto;
	margin-right: auto;

	padding-left: var(--spacing-5);
	padding-right: var(--spacing-5);
}

main {
	scroll-behavior: smooth;
	scroll-snap-align: center;
	scroll-snap-type: y proximity;
}

body {
	--grid-size: 5rem;
	/* --grid-color: oklch(var(--color-grey-100) / 1); */
	--grid-color: oklch(66.4% 0.0201 227deg / 4%);
	--grid-bg-color: var(--color-grey-950);

	background: linear-gradient(
			0deg,
			transparent 24%,
			var(--grid-color) 25%,
			var(--grid-color) 26%,
			transparent 27%,
			transparent 74%,
			var(--grid-color) 75%,
			var(--grid-color) 76%,
			transparent 77%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 24%,
			var(--grid-color) 25%,
			var(--grid-color) 26%,
			transparent 27%,
			transparent 74%,
			var(--grid-color) 75%,
			var(--grid-color) 76%,
			transparent 77%,
			transparent
		);
	background-size: var(--grid-size) var(--grid-size);
	background-color: var(--color-grey-950);
}
body::after {
	z-index: -49;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(
		circle at center,
		transparent,
		var(--grid-bg-color) 80%
	);
}
.prose
	:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover {
	color: var(--color-old-rose);
}
