---
import {
	Bell,
	ChevronsUpDown,
	CornerUpRight,
	Hash,
	Heart,
	HeartCrack,
	Home,
	List,
	MessageCircle,
	MessageCircleMore,
	MessageCircleReply,
	MessageSquareDot,
	MessageSquareReply,
	MessagesSquare,
	MoreHorizontal,
	Plus,
	RefreshCw,
	Reply,
	Search,
	Settings,
	Share,
	Share2,
	SidebarClose,
} from "lucide-astro";
---

<div class="h-screen w-screen flex">
	<aside class="border-r border-tw-zinc-500/20 max-w-80 w-full h-full p-8 relative">
		<div class="flex justify-center items-center">
			<div class="flex justify-center items-center gap-2">
				<div class="rounded-full h-12 bg-[#dce1de] w-12">
					<!-- Pfp -->
				</div>
				<div class="flex flex-col">
					<p>Jacob</p>
					<p class="text-sm text-tw-zinc-500">@Jafupy.com</p>
				</div>
			</div>
			<ChevronsUpDown class="w-4 h-4 ml-auto" />
		</div>

		<hr class="my-6 text-tw-zinc-500/50" />

		<!-- ---------------------- -->
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><Home class="w-6 h-6 inline" /> Home</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><Search class="w-6 h-6 inline" />
			Search</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><Bell class="w-6 h-6 inline" />
			Notifications</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><MessageCircleMore class="w-6 h-6 inline" /> Chat</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><Hash class="w-6 h-6 inline" />
			Feed</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><List class="w-6 h-6 inline" />
			Lists</a
		>
		<a href="" class="flex flex-none gap-4 items-center mb-4"
			><Settings class="w-6 h-6 inline" />
			Settings</a
		>

		<button
			class="px-4 py-2 h-9 bg-tw-sky-500 rounded-md flex justify-center items-center w-full mt-auto"
			>Post</button
		>

		<!-- Toggle side bar icon -->
		<div
			class="absolute top-4 -right-9 p-2 bg-tw-zinc-100 rounded-md border border-tw-zinc-950/10 -translate-x-1/2">
			<SidebarClose class="h-4 w-4" />
		</div>
	</aside>
	<main
		class="h-screen w-full p-8 max-w-ch-sm mx-auto flex flex-col gap-4 overflow-scroll">
		<!-- Post -->
		<div class="p-4 border border-tw-zinc-500/20 rounded-lg">
			<div class="flex items-center gap-4 mb-4">
				<a href="" class="flex items-center gap-2">
					<div class="rounded-full h-8 w-8 bg-grey-100 flex-none relative"></div>
					<span> Jacob <span class="text-tw-zinc-500">@jafupy.com</span></span>
				</a>
				<div class="w-full h-0">
					<!-- Spacer -->
				</div>
				<span class="text-nowrap">11h ago</span>
			</div>
			<p>Yap yap yap</p>
			<ul class="flex justify-center items-center gap-2 mt-4">
				<MessageCircle class="inline w-4 h-4 flex-none" />
				<span>2</span>
				<div class="w-full">
					<!-- Spacer -->
				</div>
				<RefreshCw class="inline w-4 h-4 flex-none" />
				<span>3</span>
				<div class="w-full"></div>
				<HeartCrack class="h-4 w-4 flex-none text-tw-rose-500" />
				<span>12</span>
				<div class="w-full"></div>

				<div class="w-full"></div>
				<CornerUpRight class="flex-none w-4 h-4" />
				<MoreHorizontal class="h-4 w-4 flex-none" />
			</ul>
		</div>
		<!-- Post w/ 1 Picture -->
		<div class="p-4 border border-tw-zinc-500/20 rounded-lg">
			<div class="flex items-center gap-4 mb-4">
				<a href="" class="flex items-center gap-2">
					<div class="rounded-full h-8 w-8 bg-grey-100 flex-none relative"></div>
					<span> Jacob <span class="text-tw-zinc-500">@jafupy.com</span></span>
				</a>
				<div class="w-full h-0">
					<!-- Spacer -->
				</div>
				<span class="text-nowrap">2d ago</span>
			</div>
			<p>Words</p>
			<div class="w-full aspect-[16/9] bg-tw-zinc-200 rounded-md"></div>
			<ul class="flex justify-center items-center gap-2 mt-4">
				<MessageCircle class="inline w-4 h-4 flex-none" />
				<span>2</span>
				<div class="w-full">
					<!-- Spacer -->
				</div>
				<RefreshCw class="inline w-4 h-4 flex-none" />
				<span>3</span>
				<div class="w-full"></div>
				<HeartCrack class="h-4 w-4 flex-none text-tw-rose-500" />
				<span>12</span>
				<div class="w-full"></div>

				<div class="w-full"></div>
				<CornerUpRight class="flex-none w-4 h-4" />
				<MoreHorizontal class="h-4 w-4 flex-none" />
			</ul>
		</div>
		<!-- Post w/ 1 Picture -->
		<div class="p-4 border border-tw-zinc-500/20 rounded-lg">
			<div class="flex items-center gap-4 mb-4">
				<a href="" class="flex items-center gap-2">
					<div class="rounded-full h-8 w-8 bg-grey-100 flex-none relative"></div>
					<span> Someone <span class="text-tw-zinc-500">@someone.bsky.online</span></span>
				</a>
				<div class="w-full h-0">
					<!-- Spacer -->
				</div>
				<span class="text-nowrap">18 Oct</span>
			</div>
			<div class="w-full aspect-[16/9] flex">
				<div class="bg-tw-zinc-200 rounded-lg mr-2 w-full h-full max-w-1/2"></div>
				<div class="w-full flex flex-col">
					<div class="bg-tw-zinc-200 rounded-md mb-2 h-full max-h-1/2 w-full"></div>
					<div class="bg-tw-zinc-200 rounded-md w-full h-full max-h-1/2"></div>
				</div>
			</div>
			<ul class="flex justify-center items-center gap-2 mt-4">
				<MessageCircle class="inline w-4 h-4 flex-none" />
				<span>2</span>
				<div class="w-full">
					<!-- Spacer -->
				</div>
				<RefreshCw class="inline w-4 h-4 flex-none" />
				<span>3</span>
				<div class="w-full"></div>
				<HeartCrack class="h-4 w-4 flex-none text-tw-rose-500" />
				<span>12</span>
				<div class="w-full"></div>

				<div class="w-full"></div>
				<CornerUpRight class="flex-none w-4 h-4" />
				<MoreHorizontal class="h-4 w-4 flex-none" />
			</ul>
		</div>
	</main>
</div>
