---
import { cn } from "../../../lib";

let { class: className = "" }: { class?: string } = Astro.props;
---

<div
	class={cn(
		"prose-grey prose prose-invert h-full max-h-[200px] overflow-y-scroll text-sm",
		className
	)}>
	<slot />
</div>
