---
import Wiggle from "../wiggle.astro";
import { Heart } from "lucide-svelte";
---

<footer
	class="not-prose flex w-full flex-col gap-4 px-5 py-12 text-sm text-grey-400">
	<Wiggle class="text-grey-800" />
	<ul
		class="flex flex-col-reverse items-baseline justify-center gap-4 sm:flex-row">
		<li class="mr-auto">
			Made with <Heart class="inline h-4 w-4 text-old-rose" /> by Jacob
		</li>
		<li class="flex items-center gap-2 transition-colors hover:text-grey-200">
			<a href="/legal/privacy"> Privacy </a>
		</li>
	</ul>
	<div class="flex items-center">
		<ul class="order-2 flex flex-row items-center justify-center gap-4">
			<li>
				<a
					href="https://bsky.app/profile/jafupy.com"
					class="transition-colors hover:text-grey-200">
					<span class="sr-only">Bluesky</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-5 h-5 hover:text-[#1185fe] transition-colors"
						viewBox="0 0 530 600"
						><path
							fill="currentColor"
							d="M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z"
						></path></svg
					>
				</a>
			</li>
			<li>
				<a
					href="https://github.com/jafupy"
					class="transition-colors hover:text-grey-200">
					<span class="sr-only">GitHub</span>
					<svg
						fill="currentColor"
						viewBox="0 0 24 24"
						aria-hidden="true"
						class="h-5 w-5">
						<path
							fill-rule="evenodd"
							d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
							clip-rule="evenodd"
						></path>
					</svg>
				</a>
			</li>
		</ul>
		<p class="mr-auto text-sm">
			© {new Date().getFullYear()} Jacob / @JaFu.py. <br />
			<a
				class="underline underline-offset-2"
				href="legal/jaf-oss"
				>Jafu OSS License</a
			>.
		</p>
	</div>
</footer>
