<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Candlelight</title>
	</head>
	<body class="bg-black text-white">
		<main>
			<section class="min-h-screen flex items-center justify-center flex-col">
				<!-- Hero -->
				<h1>Lighting your way through the web</h1>
			</section>
		</main>
	</body>
</html>
