---
interface Props {
	class?: string;
	noMain?: boolean;
}

const { class: className, noMain } = Astro.props;

import Root from "./default.astro";
---

<Root class={className}>
	<article class="max-w-ch-md font-serif">
		{
			noMain ? (
				<slot />
			) : (
				<main>
					<slot />
				</main>
			)
		}
	</article>
</Root>
