---
interface Props {
	title?: string;
	class?: string;
	path: string
}

const { title, class: className, path } = Astro.props;

import Root from './root.astro';
---

<Root {title} class={className} {path}>
    <article class="max-w-ch-md">
        <main>
            <slot></slot>
        </main>
    </article>
</Root>