---
import { cn } from "$/lib.ts";
import { Tag as TagIcon } from "lucide-astro";

let {
	class: className = "",
	icon: Icon = TagIcon,
}: { class?: string; icon?: typeof TagIcon | false } = Astro.props;
---

<span
	class={cn(
		"border-grey-100/10 group inline-flex items-center rounded-md border px-2 py-1 text-xs font-semibold",
		className
	)}>
	{
		Icon && (
			<Icon stroke-width={1} class="text-grey-500 mr-2 h-4 w-4 group-hover:-rotate-12" />
		)
	}
	<slot />
</span>
